protobuf<=3.20.3
chromadb>=0.4.24
streamlit
langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-chroma
langgraph
transformers
sentence-transformers
huggingface_hub
